$font-stack: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$background-color: #fff;
$background-blue: #088ed1;
$text-color: #0c0c0c;
$heading-color: darken($background-blue, 10);
$placeholder-color: #9e918e;
$button-primary: $background-blue;
$button-primary-hover: darken($button-primary, 10);
$button-primary-border: darken($button-primary, 10);
$button-primary-text: #f7f7f7;
$color-grey: #ecedef;