@import "fontawesome/font-awesome";
@import "variables";
@import "buttons";
@import "forms";

html {
	width: 100%;
	height: 100%;
}

body { 
	min-height: 100%;
	position: relative;
	margin: 0; 
	padding: 0;
	font-family: $font-stack;
	background: $background-color;
	color: $text-color;
}

.examples {
	padding-top: 25px;
    font-size: 24px;

    a {
    	margin-right: 8px;
    	background: #ecedef;
	    color: #333;
	    font-size: 14px;
	    padding: 6px 10px;

	    &:hover {
	    	color: $background-blue;
	    	text-decoration: none;
	    }
    }
}

.video-caption strong {
	background-color: #ff0;
    padding: 4px;
}

footer {
	background: $color-grey;
	height: 30px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 6px 0;
    font-size: 12px;

    a {
    	margin-right: 5px;
    }
}

header {
	padding: 50px 0;
	background: $background-blue;

	a:hover, a:active, a:focus {
		text-decoration: none;
	}
}

h1 {
	color: $background-color;
	font-size: 48px;
	font-weight: 300;
}

.search-bar {
	background: $color-grey;
}

.searchForm {
	padding: 35px 25px;

	.query {
		width: 90%;
		float: left;
		height: 47px;
		color: darken($background-blue, 10);
		font-weight: 300;
		font-size: 18px;

		&::-webkit-input-placeholder {
		   color: #cccccc;
		}
	}

	.search-button {
		width: 10%;
	}
}

.desc {
	margin: 3px;
    color: $background-color;
    font-weight: 300;
    font-size: 18px;
}

.search-result {
	margin: 20px 0;

	span {
		font-size: 24px;
		font-weight: bold;
		color: $heading-color;
	}
}

.caption {
	text-align: center;
}

.video-player {
	margin: 15px 0;
	position: relative;
}

.video-caption {
	font-size: 26px;
    font-weight: 300;
    font-style: italic;
}

.nav-container {
	position: absolute;
	top: 38%;
	width: 100%;
	font-size: 72px;
}

.nav-previous {
	left: 15%;
	position: absolute;
}

.nav-next {
	right: 15%;
	position: absolute;
}

.nav-bottom {
	margin: 35px 0;
	font-size: 36px;

	a {
		margin-right: 20px;
		margin-right: 20px;
    	background: #eaebec;
    	border: 1px solid #cccccc;
    	padding: 5px 10px;
    	color: #333;
	}
}

.stage-icon {
	position: relative;
}

.stage-icon-desc {
	display: inline-block;
    position: absolute;
    bottom: -30%;
    left: 0;
    text-align: center;
    font-size: 12px;
    width: 100%;
}


.helper-keyboard {
	padding: 15px 0;

	a {
		margin-right: 8px;
		font-size: 16px;
		background: #fff;
		padding: 3px 6px;
		border: 1px solid #cccccc;
		width: 30px;
		text-align: center;
    
		&:hover {
			text-decoration: none;
		}
	}
}

.share-video {
	margin: 35px 0;

	a {
		margin-right: 5px;
		font-size: 20px;
	}

	.share-facebook {
		color: #46629e;
	}

	.share-google {
		color: #d73d32;
	}

	.share-twitter {
		color: #55acee;
	}
}

.country-flag {
	width: 100%;
	height: 10px;

	.flag-third {
		float: left;
		width: 33.333%;
		height: 10px;
	}

	.blue {
		background: #000066;
	}

	.white {
		background: #fff;
	}

	.red {
		background: #d1081d;
	}
}

.report-modal {
	text-align: left;
}

.loading-container {
	text-align: center;
}